.banner {
    display: flex;
    align-items: center;
    position: relative;
    width: var(--max-longitud);
    height: 250px;
}

.banner ul {
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.banner ul img {
    width: 100vw;
    height: 100%;
    animation: desplazar 10s ease-in-out infinite alternate;
}

.banner i {
    position: absolute;
    color: var(--blanco);
}

.izq {
    left: var(--padding);
}

.der {
    right: var(--padding);
}

/* Animación de desplazamiento */
@keyframes desplazar {
    0% { transform: translateX(0); }
    15% { transform: translateX(0); }

    20% { transform: translateX(-100%); }
    35% { transform: translateX(-100%); }

    40% { transform: translateX(-200%); }
    55% { transform: translateX(-200%); }

    60% { transform: translateX(-300%); }
    75% { transform: translateX(-300%); }

    80% { transform: translateX(-400%); }
    100% { transform: translateX(-400%); }
}