
/* Información de contacto */
.introduccion {
    font-size: 1.2rem;
    text-align: justify;
    padding: 30px var(--padding) var(--padding);
}

.datos {
    display: flex;
    flex-direction: column;
    gap: var(--padding);
    margin: var(--padding);
    padding: var(--padding);
    border-radius: var(--bordes);
    border: 1.5px solid var(--gris-oscuro);
}

.datos p {
    font-size: 1.2rem;
    text-transform: uppercase;
}

/* Formulario de consulta */
.formulario {
    display: flex;
    flex-direction: column;
    gap: var(--padding);
    padding: var(--padding);
    margin: var(--padding);
    border-radius: var(--bordes);
    border: 1.5px solid var(--gris-oscuro);
}

.campo-dato {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

label {
    font-size: 1.2rem;
    text-transform: capitalize;
}

.campo-dato input, textarea {
    font-size: 1.2rem;
    padding: 5px;
    outline-color: var(--celeste);
}

.formulario h3 {
    text-align: center;
    text-transform: capitalize;
    color: var(--verde);
}

.boton {
    width: 40%;
    background-color: var(--verde);
    text-transform: capitalize;
    color: var(--blanco);
    border: none;
    border-radius: var(--bordes);
    padding: 10px 0px;
    font-size: 1.2rem;
    margin: auto;
}

/* Mapa */
.mapa, textarea {
    width: 100%;
}

.mapa {
    margin: var(--padding) 0px;
}