
/* Estilos del icono y la hamburguesa */
nav, .inicio, .iconos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: var(--max-longitud);
}

nav {
    flex-direction: column;
}

.logo {
    width: 100px;
}

.iconos {
    padding: var(--padding);
}

.menu, .flecha {
    font-size: 2rem;
}

.menu-cerrado {
    color: var(--verde);
}

.menu-abierto {
    color: var(--rojo);
}

/* Botones de inicio de sesion y registro */
.inicio {
    position: fixed;
    top: 60px;
    z-index: 5;
}

.inicio li {
    width: 50%;
    text-align: center;
    text-transform: capitalize;
    font-size: 1.2rem;
}

.inicio li:nth-child(1) a, .inicio li:nth-child(2) a {
    display: block;
    padding: var(--padding) 0px;
}

.inicio li:nth-child(1) a {
    background-color: var(--amarillo);
    color: var(--negro);
}

.inicio li:nth-child(2) a {
    background-color: var(--verde);
    color: var(--blanco);
}

/* Barra de navegacion */
.iconos {
    position: fixed;
    top: 0;
    background-color: #FAFAFA;
    z-index: 20;
    height: 60px;
}

.contenedor-iconos {
    height: 60px;
    width: 100%;
}

#lista-items {
    position: fixed;
    left: 0;
    bottom: 0;
    height: calc(100% - 60px);
    background-color: var(--azul);
    transition: width 0.5s ease;
    overflow: hidden auto;
    z-index: 10;
}

#lista-items a {
    display: flex;
    align-items: center;
    width: var(--max-longitud);
    margin: var(--padding);
    padding: var(--padding);
    color: var(--blanco);
    text-transform: capitalize;
    letter-spacing: 1px;
    font-size: 1.2rem;
}

#lista-items a i {
    margin-left: 5px;
}

.lista-items-cerrada {
    width: 0;
}

.lista-items-abierta {
    width: 60%;
}

.sub-menu {
    display: none;
    padding-left: 30px;
}

#lista-items li:hover > .sub-menu {
    display: block;
}

@media screen and (min-width: 768px)  { /* No olvidar esta parte <and (orientation: portrait)> */
    /* nav {
        flex-flow: row wrap;
        background-color: #FAFAFA;
        background-color: blue;
    }

    #lista-items {
        display: flex;
        overflow: visible;
        position: static;
        flex-grow: 1;
        z-index: 100;
        width: fit-content;
        height: 30px;
        justify-content: space-around;
        align-items: center;
        background-color: #FAFAFA;
        background-color: violet;
    }

    #lista-items a {
        color: var(--verde);
        font-size: 1rem;
        margin: 0px;
        padding: 0px;
        letter-spacing: 0px;
    }

    .menu {
        display: none;
    }

    .contenedor-iconos {
        width: fit-content;
    }

    .iconos {
        background-color: aqua;
        
        width: fit-content;
        position: fixed;
        top: 0;
        z-index: 100;
        padding: 0px 0px 0px var(--padding);
    }

    .sub-menu {
        position: absolute;
        margin-top: 5px;
        padding: 0px;
        background-color: aqua;
    }

    .sub-menu li {
        display: block;
        padding: 50px;
    } */

    nav {
        flex-flow: row wrap;
        background-color: #FAFAFA;
        background-color: blue;
    }

    #lista-items {
        display: flex;
        overflow: visible;
        position: static;
        flex-grow: 1;
        top: 0;
        z-index: 100;
        width: fit-content;
        height: 30px;
        justify-content: space-around;
        align-items: center;
        background-color: #FAFAFA;
        background-color: violet;
    }

    #lista-items a {
        color: var(--verde);
        font-size: 1rem;
        margin: 0px;
        padding: 0px;
        letter-spacing: 0px;
    }

    .menu {
        display: none;
    }

    .contenedor-iconos {
        width: fit-content;
    }

    .iconos {
        background-color: aqua;
        width: fit-content;
    }

    .sub-menu {
        position: absolute;
        margin-top: 5px;
        padding: 0px;
        background-color: aqua;
    }

    .sub-menu li {
        display: block;
        padding: 50px;
    }
}
