
.noticias {
    background-image: url("/proyecto/frontend/src/images/faro.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contenedor-noticias {
    display: flex;
    flex-direction: column;
    background-color: var(--fondo);
    padding: var(--padding);
    gap: var(--padding);
    align-items: center;
}

.destacadas {
    display: flex;
    justify-content: space-between;
    width: var(--max-longitud);
    height: var(--max-longitud);
    gap: var(--padding);
    overflow-x: auto;
    border-radius: var(--bordes);
}

.noticias h2 {
    padding-top: var(--padding);
}
