
.noticias {
    background-image: url("/web/proyecto/frontend/src/images/faro.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contenedor-noticias {
    display: flex;
    flex-direction: column;
    background-color: var(--fondo);
    padding: var(--padding);
    gap: var(--padding);
    align-items: center;
}

.destacadas {
    display: flex;
    justify-content: space-between;
    width: var(--max-longitud);
    height: var(--max-longitud);
    gap: var(--padding);
    overflow-x: auto;
    border-radius: var(--bordes);
}

.noticias h2 {
    padding-top: var(--padding);
}

.contenedor-proyectos hr {
    border-color: transparent;
    background-color: #CCC;
    color: #CCC;
    outline-color: #CCC;
}

.lista-proyectos ul a {
    font-weight: bold;
    color: var(--verde);
    text-transform: capitalize;
}

.contenedor-titulo {
    display: flex;
    justify-content: center;
    padding: var(--padding);
}

.titulo {
    text-transform: capitalize;
    color: var(--verde);
    text-align: center;
    padding-bottom: 5px;
    border-bottom: 5px solid var(--amarillo);
}

.sesion-noticia {
    border: 1.5px solid var(--negro);
    border-radius: var(--bordes);
    padding: var(--padding);
    margin: var(--padding);
}

.categoria-noticia {
    display: flex;
    justify-content: space-between;
    padding: var(--padding);
}

.categoria-noticia a {
    text-transform: capitalize;
    text-decoration: underline;
}

.categoria-noticia h3 {
    text-transform: capitalize;
    color: var(--verde);
}

.buscador {
    display: flex;
    justify-content: space-between;
    padding: var(--padding);
    gap: var(--padding);
}

.buscador input {
    width: 100%;
    font-size: 1.2rem;
    border: 1.5px solid var(--gris-oscuro);
    border-radius: 2px;
    padding: 10px;
    outline-color: #00AAE4;
}

.buscador button {
    display: none;
}