
.nuestros-integrantes .contenedor {
    display: flex;
    flex-direction: column;
    padding: var(--padding);
    gap: var(--padding);
    align-items: center;
}

.nuestros-integrantes p {
    text-align: justify;
    padding: 0px var(--padding);
}

.lista-entidades {
    display: grid;
    overflow: hidden auto;
    height: 500px;
    grid-template-columns: repeat(3, 1fr);
}

.lista-entidades li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: var(--padding) 0px;
    text-transform: capitalize;
}

.lista-entidades li a img {
    width: 100px;
    border-radius: var(--bordes);
    margin-bottom: 5px;
}