.contenedor-proyectos {
    display: flex;
    flex-direction: column;
    gap: var(--padding);
    height: 95vh;
}

.vista {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 30px;
    height: 100%;
}

.lista-proyectos {
    display: flex;
    flex-direction: column;
    gap: var(--padding);
}

.vista h2, .lista-proyectos > a {
    text-transform: capitalize;
    text-align: center;
}

.vista p {
    font-size: 1.2rem;
    padding: 0px 5px;
}

.lista-proyectos ul {
    padding: 0px 30px;
    height: 100px;
    overflow-y: auto;
}

.lista-proyectos ul li a {
    display: block;
    padding: 5px 0px;
}

.contenedor-proyectos hr {
    border-color: transparent;
    background-color: #CCC;
    color: #CCC;
    outline-color: #CCC;
}

.lista-proyectos ul a {
    font-weight: bold;
    color: var(--verde);
    text-transform: capitalize;
}