.quienes-somos {
    background-image: url("/proyecto/frontend/src/images/fondo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.quienes-somos {
    display: flex;
    flex-direction: column;
    gap: var(--padding);
    align-items: center;
}

.quienes-somos p {
    padding: 0px 30px;
    text-align: justify;
    font-size: 1.2rem;
}

.video {
    padding: var(--padding);
}

.quienes-somos video, .video {
    width: 100%;
    border-radius: var(--bordes);
}
