.titulo {
    text-transform: capitalize;
    color: var(--verde);
    text-align: center;
    padding-bottom: 5px;
    border-bottom: 5px solid var(--amarillo);
}

.contenedor-titulo {
    display: flex;
    justify-content: center;
    padding: var(--padding);
}

a[class="titulo"] {
    font-size: 1.2rem;
}